<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.gogiro.admin.AdminMapper">
    <select id="checkAdmin">
        SELECT
            iuser,
            upw,
            role
        FROM t_user
        WHERE email= #{email}
    </select>
    <select id="shopList">
        SELECT
            0 AS checkShop,
            a.ishop,
            c.name,
            a.name AS shopName,
            a.location,
            a.x, a.y, a.tel, a.confirm,
            b.pic, a.created_at AS createdAt
        FROM t_shop a
        LEFT JOIN t_shop_pic b
        ON a.ishop= b.ishop
        LEFT JOIN t_user c
        ON a.iuser=c.iuser
        <if test="search!=null">
            WHERE a.name LIKE `%${search}%`
        </if>
        GROUP BY a.ishop
        union
        SELECT
            1 AS checkShop,
            a.ibutcher,
            c.name,
            a.name AS shopName,
            a.location,
            a.x, a.y, a.tel, a.confirm,
            b.pic, a.created_at AS createdAt
        FROM t_butcher_shop a
        LEFT JOIN t_butcher_pic b
        ON a.ibutcher= b.ibutcher
        LEFT JOIN t_user c
        ON a.iuser= c.iuser
        <if test="search!=null">
            WHERE a.name LIKE `%${search}%`
        </if>
        GROUP BY a.ibutcher
        ORDER BY createdAt
        LIMIT #{startIdx},#{rowCount}
    </select>
    <update id="confirmShop">
        UPDATE
        t_${table}
        SET
            confirm= #{confirm}
        WHERE i${column}= #{ishop}
    </update>
    <select id="reportList">
        SELECT
            a.i${column1} AS pk,
            a.${column2} AS contents,
            b.nickname as writerNm,
            a.count
        FROM t_${table} a
        JOIN t_user b
        ON a.iuser=b.iuser
        WHERE a.COUNT<![CDATA[>=]]>1
        ORDER BY a.created_at
        LIMIT #{startIdx},#{rowCount}
    </select>
    <update id="hide">
        UPDATE
        t_${table}
        SET
            count= 3
        WHERE i${column}= #{pk}
    </update>
    <update id="cancelReport">
        UPDATE
        t_${table}
        SET
            count= 0
        WHERE i${column}= #{pk}
    </update>
    <delete id="delCount">
        DELETE
        FROM t_${table}
        WHERE i${column}= #{pk}
    </delete>
    <select id="beforeBlackList">
        SELECT
            iuser
        FROM t_community a
        WHERE COUNT>=3
        UNION
        SELECT
            iuser
        FROM t_community_comment
        WHERE COUNT>=3
        UNION
        SELECT
            iuser
        FROM t_shop_review
        WHERE COUNT>=3
        UNION
        SELECT
            iuser
        FROM t_but_review
        WHERE COUNT>=3
    </select>
    <select id="blackList">
        SELECT
        a.iuser,
        ifnull(a.nickname,'OWNER') AS name,
        a.email AS id,
        ifnull(ifnull(b.number,c.number),'USER') AS number,
        a.`check` AS state
        FROM t_user a
        LEFT JOIN t_shop b
        ON a.iuser=b.iuser
        LEFT JOIN t_butcher_shop c
        ON a.iuser=c.iuser
        WHERE a.iuser in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        ORDER BY a.iuser
        LIMIT #{startIdx},#{rowCount}
    </select>

    <update id="suspendAccount">
        <selectKey resultType="int" keyProperty="check" order="BEFORE">
            SELECT
                `check`
            FROM t_user
            WHERE iuser= #{iuser}
        </selectKey>
        UPDATE
        t_user
        SET
            `check`=
        <choose>
            <when test="isCheck">1</when>
            <otherwise>0</otherwise>
        </choose>
        WHERE iuser= #{iuser}
    </update>

</mapper>