<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.gogiro.owner.OwnerMapper">

    
    <insert id="insStoreRegistration" useGeneratedKeys="true" keyProperty="ishop">
        INSERT INTO
        t_shop
        (imeat,name,location,open,tel,x,y)
        VALUES
        (#{imeat},#{name},#{location},#{open},#{tel},#{x},#{y})
    </insert>
    
    <select id="selShopNoShow">
        SELECT b.iuser,b.`name`,b.`date`, b.ireser, b.head_count AS headCount
        FROM t_black_list_count a
        JOIN (SELECT c.iuser, c.`name`, d.`date`,d.ireser,d.head_count FROM t_user c JOIN t_reservation d ON  c.iuser = d.iuser WHERE d.ishop = #{ishop} AND d.confirm = 3) b
        ON a.iuser = b.iuser;
    </select>

    <select id="selShopReservation">
        SELECT b.iuser, b.`name`, a.confirm, a.head_count AS headCount, a.ireser,a.date,a.request
        FROM t_reservation a
        JOIN t_user b
        on a.iuser = b.iuser
        AND a.ishop = #{ishop}
        WHERE a.confirm = 0
    </select>

    <select id="selButcherPickup">
        SELECT b.iuser, b.`name`, a.confirm, a.request,a.ipickup as ireser, a.date
        FROM t_pickup a
        JOIN t_user b
        ON a.iuser = b.iuser
        AND a.ibutcher = #{ishop}
        WHERE a.confirm = 0
    </select>

    <select id="selButcherPickupMenu">
        SELECT b.`count`,b.ibut_menu as ibutMenu,c.menu,a.ipickup as ireser
        FROM t_pickup a
        JOIN t_pickup_menu b
        ON a.ipickup = b.ipickup
        JOIN t_but_menu c
        ON c.ibut_menu = b.ibut_menu
        WHERE a.ibutcher = #{ishop}
    </select>
    
    <insert id="insStoreRegistrationPics">
        INSERT INTO
        t_shop_pic
        (ishop, pic)
        VALUES
        <foreach collection="pics" item="pic" open="(" close=")" separator="),( ">
            #{ishop}, #{pic}
        </foreach>
    </insert>

    <insert id="insShopMenu" useGeneratedKeys="true" keyProperty="imenu">
        INSERT INTO
        t_shop_menu
        (ishop,menu,price,pic)
        VALUES
        (#{ishop},#{menu},#{price},#{fileNm})
    </insert>

    <update id="updShopMenu">
        UPDATE t_shop_menu
        SET pic = #{fileNm}
        WHERE imenu = #{imenu}
    </update>

    <select id="selPicNm">
        SELECT pic
        FROM t_shop_menu
        WHERE imenu = #{imenu}
    </select>

    <insert id="insButcherShop" useGeneratedKeys="true" keyProperty="ibutcher">
        INSERT INTO
        t_butcher_shop
        (name,location,open,tel,x,y)
        VALUES
        (#{name},#{location},#{open},#{tel},#{x},#{y})
    </insert>

    <insert id="insButcherPics">
        INSERT INTO
        t_butcher_pic
        (ibutcher, pic)
        VALUES
        <foreach collection="pics" item="pic" open="(" close=")" separator="),( ">
            #{ibutcher}, #{pic}
        </foreach>
    </insert>

    <insert id="insButcherMenu" useGeneratedKeys="true" keyProperty="ibutMenu">
        INSERT INTO
        t_but_menu
        (ibutcher,menu,price,pic)
        VALUES
        (#{ibutcher},#{menu},#{price},#{fileNm})
    </insert>

    <select id="selButcherMenuPicNm">
        SELECT pic
        FROM t_but_menu
        WHERE ibut_menu = #{ibutMenu}
    </select>

    <update id="updButcherMenu">
        UPDATE t_but_menu
        SET pic = #{fileNm}
        WHERE ibut_menu = #{ibutMenu}
    </update>

    <insert id="insShopFacility">
        INSERT INTO t_shop_facilities
        (ishop,ifacil)
        VALUES
        <foreach collection="ifacil" item="ifacil" separator=",">
            (#{ishop},#{ifacil})
        </foreach>
    </insert>

    <insert id="insShopPic">
        INSERT INTO t_shop_pic
        ( ishop, pic )
        VALUES
        <foreach collection="pics" item="pic" separator=",">
            ( #{ishop}, #{pic} )
        </foreach>
    </insert>

    <delete id="delShopPics">
        delete from t_shop_pic
        where ishop_pics  in (
        <foreach collection="ishopPics" item="ishopPics" separator=",">
            #{ishopPics}
        </foreach>
        )
    </delete>

    <select id="selShopPics">
        SELECT ishop_pics as ishopPics, pic
        FROM t_shop_pic
        WHERE ishop_pics in (
        <foreach collection="ishopPics" item="ishopPics" separator=",">
            #{ishopPics}
        </foreach>
        )
    </select>

    <delete id="delButcherPics">
        DELETE
        FROM t_butcher_pic
        WHERE ibut_pics IN
        <foreach collection="ibutPics" item="ibutPics" open="(" close=")" separator=",">
            #{ibutPics}
        </foreach>
    </delete>
    <select id="selButcherPics">
        SELECT
        ibut_pics,
        pic
        FROM t_butcher_pic
        WHERE ibut_pics IN
        <foreach collection="ibutPics" item="ibutPics" open="(" close=")" separator=",">
            #{ibutPics}
        </foreach>
    </select>

</mapper>